name: Build and Deploy DPM_SRG

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip
          python -m pip install cibuildwheel twine
          
      - name: Set CXXFLAGS
        id: set_flags
        run: echo "CXXFLAGS=${{ matrix.os == 'windows-latest' && '/std:c++17' || '-std=c++17' }}" >> $GITHUB_ENV
     
      - name: Build the wheel
        run: 
          python -m cibuildwheel --output-dir dist
        env:
          CIBW_BUILD: cp3* # cp38-* cp39-* cp310-* cp311-* cp312-* cp313-* cp314-*
          CIBW_ARCHS_LINUX: "x86_64 aarch64"
          CIBW_ARCHS_MACOS: "x86_64 arm64"
          CXXFLAGS: ${{ env.CXXFLAGS }}

      - name: Upload to PyPI
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          python -m twine check dist/*  # verify wheels
          twine upload dist/* --verbose
